@use "assets/scss/var.scss" as *;
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
body, html {
  margin: 0;
  padding: 0;

  background-color: $backgroundColorLighter;

  font-family: "Roboto", sans-serif;
  font-weight: initial;
  font-style: normal;
  color: $fontColor;
}

a {
  color: $fontColor;

  &:hover {
    color: $mainColorVif;
  }
}
i {
  width: fit-content;
}